.content {
  justify-content: center;
  align-items: center;
  width: var(--content-width);
  border-radius: 4px;
  border: 1px solid var(--black);
  background-color: var(--natural-white);
  padding: 16px 24px;
  gap: 16px;
}

.addNewCredentialButton {
  align-self: flex-start;
}

.credentialTable {
  border-collapse: collapse;
  border-width: 1px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.credentialRow {
  border-top: 1px solid black;
}

.credentialRow td {
  padding: 4px;
  border-bottom: unset;
}

.additionalInfoContainer {
  height: auto;
  max-height: 100px;
  margin: 0 24px 0 16px;
  padding: 0 8px;
  transition: max-height linear 0.1s;
  overflow: hidden;
}

.collapsed {
  max-height: 0;
}

.chevron {
  padding: 4px 8px;
  font-size: 18px;
  transform: rotate(-90deg);
  transition: transform linear 0.1s;
  transform-origin: center;
}

.chevronDown {
  transform: rotate(-90deg);
}
.chevronUp {
  transform: rotate(90deg);
}

.updateCredentialButton {
  padding: 4px 0;
}
